*{
    margin: 0;
    padding: 0;
    background: #0F0F0F;;
}

.heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}


.heading .BINUS{
    font-size: 32px;
    order: 1;
    color: white;
    font-family: Inter;


}


.heading .CONNECT{
    font-size: 32px;
    order: 2;
    margin-left: 5px;
    color: white;
    font-family: KoHo;


}


.kotak {
    background: #1b1b1b;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 450px;
    margin: 10.5rem auto auto auto;
    width: 400px;
}

.kotakContent {
    background: #1b1b1b;
    padding: 10px 44px;
}

.kotaklogin {
    font-size: large;
    background-color: #1b1b1b;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.kotaklogin h2{
    font-family: Inter;
    color: white;
    background-color: #1b1b1b;;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.formBorder {
    background: rgb(180, 180, 180);
    height: 1px;
    width: 100%;
}

.formContent {
    border: none;
    outline: none;
    padding-top: 10px;
}

#userEmail{
    color: white;
    background-color: #1b1b1b;
}

#userPassword {
    caret-color: white; 
    color: white;
    background-color: #1b1b1b;
}

#tombolSubmit {
    font-family: Inter;
    font-weight: bold;
    border-radius: 8px;
    background: linear-gradient(148deg, #00B4FF 0%, #FF00A5 100%);
    border: none;
    
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
    color: white;
    height: 42.3px;
    margin: 0 auto;
    margin-left: 80px;
    margin-top: 70px;
    transition: 0.25s;
    width: 153px;
}

a {
    text-decoration: none;
    background-color: #1b1b1b;
}

#test {
    margin-top: 80px;
}

#tombolSubmit:hover{
    background-color: #1b1b1b;
}

.textbox {
    background-color: #1b1b1b;
    font-family: KoHo;
    margin-top: 5%;
    color: white;
}

.checking{
    padding-top: 5%;
    display: flex;
}

.textbox-box{
    background-color: #1b1b1b;
}

.textbox-box p {
    margin-top: 2px;
    font-size: 11px;
    color:rgb(253, 96, 96);
    font-weight: bold;
    visibility: hidden;
    width: 200px;
  }
  
  .error p {
    visibility: visible;
  }

@media (max-width:800px) {
    #kotak {
        height: 570px;
        width: 400px;
    }
}
  